{% liquid
  if image != blank
    assign full_width = '100vw'
    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
    assign image_height = image.height | divided_by: image.aspect_ratio
  endif
%}

{% if image != blank %}
  <div style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
    {{
      image
      | image_url: width: 3840
      | image_tag:
        loading: 'lazy',
        width: image.width,
        height: image_height,
        sizes: full_width,
        widths: widths,
        class: 'mh-responsive-img mh-image'
    }}
  </div>
{% endif %}
