:root {
  --red-primary: #d1003e;
  --red-secondary: #c90f34;

  --orange-primary: #ea7500;
  // --orange-secondary: #c90f34;

  --yellow-primary: #f8be00;
  // --yellow-secondary: #c90f34;

  --blue-primary: #37b8e9;
  --blue-secondary: #61bed1;
  --blue-secondary-dark: #095d9b;

  --pink-primary: #db0079;
  --pink-secondary: #e78597;
  --pink-secondary-dark: #bc77a8;

  --purple-secondary: #692a7b;

  --black: rgb(var(--color-foreground));
  --white: #ffffff;
  --blue: #2c62d8;
}
